server:
  port: 3001
  context-path: /

spring:
  application:
    name: microservice-zuul

eureka:
  instance:
    instance-id: microservice-zuul:3001 #客户端实例名称
    prefer-ip-address: true #是否显示IP
  client:
    service-url:
      #设置与Eureka注册中心交互的地址，是所有注册中心
      defaultZone: http://localhost:2001/eureka/  #把服务注册到eureka注册中心

zuul:
  routes: # 所有的路由都要配置在这里
    businessServer.serviceId: microservice-business
    businessServer.path: /businessServer/**
    sysServer.serviceId: microservice-sys
    sysServer.path: /sysServer/**
    assetServer.serviceId: microservice-asset
    assetServer.path: /assetServer/**
    membersServer.serviceId: microservice-members
    membersServer.path: /membersServer/**
    settingServer.serviceId: microservice-setting
    settingServer.path: /settingServer/**
  #需要忽略的头部信息，不在传播到其他服务
  #  sensitive-headers: Access-Control-Allow-Origin
  #  ignored-headers: Access-Control-Allow-Origin,H-APP-Id,Token,APPToken
  ignored-services: "*"
  prefix: /scp2p


info:
  groupId: com.scp2p
  artifactId: microservice-zuul-3001
  version: 1.0-SNAPSHOT
  userName: "wangwang"
  phone: 123456



